/* Archivo: css/register.css */
body {
    font-family: Arial, sans-serif;
    background-color: #b0c4de;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* espacio ajustado restando la altura del header */
    padding-top: 20px;
}
.container {
    background: #d3e0f0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    text-align: center;
    margin: 0 auto 10px; /* Esto asegura que el contenedor esté centrado horizontalmente */
    align-items: center;
}
.logo {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px 0;
}
button {
    background: #6c8ebf;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #5a7ba5;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Ocultar mensaje por defecto */
.hidden {
    display: none;
}

/* Estilo del mensaje de éxito */
#success-message {
    background-color: #d4edda;
    color: #5a7ba5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
#success-message button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}